*{
    box-sizing: border-box;
  }
  .outer-container{
    background: url("../images/bethany-hamilton-animation-by-laura-feller.gif");
    max-width: 500px;
    background-repeat: no-repeat;
  }
  body,
  .container,
  .outer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: .15rem;
    font-family: 'Nunito', sans-serif;
  }
  body{
      margin: 0;
      overflow-x: hidden;
      width: 100%;
  }
  .container{
    background: rgba(0,100,255,.6);
    padding: 2.5em;
    width: 500px;
    border-radius: 1em;
  }
  p{
    text-align: center;
    width: 300px;
    font-size: 1.2rem;
    color: white;
  }
  h1{
    text-align: center;
    color: white;
  }
  .header-2{
    color: red;
    font-size: 1.5rem;
  }
  p,
  h1,
  h2{
    border-radius: 1em;
    padding: 1em;
  }
  .heart{
    font-size: 50px;
    position: relative;
    animation: 1s infinite pumping;
  }
  .footer{
    text-align: center;
    width: 309px;
  }
  .my-copyright{
    color: #0074D9;
    margin-top: 2rem;
  }
  @media (min-width: 1024px){
      .outer-container{
        margin-top: 70px;
      }
  }
  @keyframes pumping{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.6);
    }
    100%{
        transform: scale(1);
    }
}