body{
    background-color: rgba(22, 221, 105, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.container{
    margin-top: 40px;
    padding: 10px;
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    border-radius: 10px;
}
h1{
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    margin: 0 0 .25em 0;
    border-radius: 10px;
}
.score{
    margin: 0;
}
.score-pound{
    animation-name: pound;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.msg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .25em 0 .75em 0;
    height: 45px;
    width: 240px;  
}
.message{
    color:rgb(102, 180, 232);
    text-align: center;
    margin: 0;
}
.message-pound{
    animation-name: pound;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.top-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;
}
button{
    cursor: pointer;
    border: none;
    padding: .25em .75em;
    border-radius: 5px;
    font-size: 20px;
    background:rgba(22, 221, 105, 0.479);
}
.mobile-controller-visibility-toggle{
    background-color:rgba(255, 153, 0, 0.731);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}
.instructions-header{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin: .25em auto .05em auto;
}
.instructions{
    font-size: 1.05rem;
    text-align: center;
    margin: 0 auto .25em auto;
}
.square {
    width: 20px;
    height: 20px;
}
.snake{
    background-color: rgba(0, 128, 0, 0.337);
}
.apple{
    background-color: rgba(255, 0, 0, 0.376);
}
.mobile-controller{
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
    top: 185px;
    left: 68px;
    margin-top: -200px;
}
.play-btn{
    display: none;
}
.p-btn{
    position: absolute;
    bottom: 52px;
    left: 1px;
    padding: 0;
    width: 64px;
    height: 64px;
    opacity: .17;
    cursor: pointer;
}
.triangle-border{
    border: rgba(0,0,0,.2) solid .5px;
    position: relative;
}
.triangle-up-container,
.triangle-right-container,
.triangle-down-container,
.triangle-left-container
{
    width: 64px;
    height: 64px;
}
.triangle-up-container{
    top: 16px; 
}
.triangle-right-container{
    left: 68px;
    top: 16px; 
}
.triangle-down-container{
    top: 18px; 
}
.triangle-left-container{
    right: 68px;
    bottom: 116px; 
}
.triangle{
    cursor: pointer;
    height: 0;
    width: 0;
    border: solid transparent 32px;
    border-top: 0;
    border-bottom: 64px rgba(255, 132, 0, 0.363) solid;  
}
.triangle-up{
    position: relative;
}
.triangle-right{
    transform: rotate(90deg);
    position: relative;
}
.triangle-down{
    transform: rotate(180deg);
    position: relative;
}
.triangle-left{
    transform: rotate(-90deg);
    position: relative;
}

/* footer below */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgb(139, 248, 184);
    color: rgb(0, 0, 0);
    padding: .5em 1.5em;
    border-radius: .5em;
    box-shadow: 1px 2px 15px 5px rgba(0,0,0,0.63);
  }
  .copy-right{
    text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.97), 0px -5px 20px rgba(0, 0, 0, 0.97), 5px 0px 20px rgba(0, 0, 0, 0.97);
    color: rgb(255, 205, 164);
    font-size: 1.5rem;
    margin-top: 2em;
  }
  /*footer above*/
  
@media (min-width: 1024px){
    .mobile-controller{
        display: none;
    }
    .mobile-controller-on{
        display: block;
    }
}
@media (max-width: 1023px){
    .mobile-controller-visibility-toggle{
        display: none;
    }
}
@keyframes pound{
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1)
    }
}