body{
    background-color: rgba(22, 221, 105, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.container{
    margin-top: 40px;
    padding: 10px;
    background-color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    border-radius: 10px;
}
h1{
    width: 180px;
    border: 5px solid rgba(0,0,0,.35);
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 0 0 .25em 0;
    border-radius: 10px;
}
.score{
    margin: 0;
}
.score-pound{
    animation-name: pound;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.msg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .25em 0 .75em 0;
    height: 45px;
    width: 240px;  
}
.message{
    color:rgb(102, 180, 232);
    text-align: center;
    margin: 0;
}
.message-pound{
    animation-name: pound;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.top-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;
}
button{
    cursor: pointer;
    border: none;
    padding: .25em .75em;
    border-radius: 5px;
    font-size: 20px;
    background:rgba(22, 221, 105, 0.479);
}
.mobile-controller-visibility-toggle{
    background-color:rgba(255, 153, 0, 0.731);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
}
.instructions{
    font-size: 1.05rem;
    text-align: center;
}
.square {
    width: 20px;
    height: 20px;
}
.snake{
    background-color: rgba(0, 128, 0, 0.337);
}
.apple{
    background-color: rgba(255, 0, 0, 0.376);
}
.mobile-controller{
    display: block;
    height: 140px;
    width: 140px;
    position: relative;
    top: 185px;
    left: 50px;
    margin-top: -140px;
}

.triangle{
    cursor: pointer;
    height: 0;
    width: 0;
    border: solid transparent 20px;
    border-top: 0;
    border-bottom: 40px rgba(255, 132, 0, 0.544) solid;  
}
.triangle-up{
    position: relative;
    bottom: 3px;
}
.triangle-right{
    transform: rotate(90deg);
    position: relative;
    left: 46px;

}
.triangle-down{
    transform: rotate(180deg);
    position: relative;
    top: 3px;
}
.triangle-left{
    transform: rotate(-90deg);
    position: relative;
    right: 46px;
    bottom: 80px;
}
@media (min-width: 1024px){
    .mobile-controller{
        display: none;
    }
    .mobile-controller-on{
        display: block;
    }
}
@media (max-width: 1023px){
    .mobile-controller-visibility-toggle{
        display: none;
    }
}
@keyframes pound{
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1)
    }
}