html{
    font-size: 10px;
  }
  *{
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: url(../../images/wood-bg.webp);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 196, 0);
    font-family: monospace, sans-serif;
  }
  h1{
    font-size: 2.8rem;
    text-align: center;
  }
  /*NAVBAR CSS STARTS HERE*/
  /* mobile menu css*/
  .mobile-menu{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 2px;
    top: 2px;
    height: 40px;
    width: 40px;
    background-color:rgba(0, 0, 0, 0.441);
    border-radius: 5px;
  }
  .mobile-menu div{
    margin: 2.5px auto 2.5px auto;
    padding: 0;
    background-color: rgba(255,255,255,.441);
    height: 10px;
    width: 30px;
    border-radius: 5px;
  }
  .mobile-menu div:nth-child(1){
    margin-top: 5px;
  }
  .mobile-menu div:nth-child(3){
    margin-bottom: 5px;
  }

  /* X to hambuger icon classes below */
  .topBunBack{
    animation-name: topBunBack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  .inBunsBack{
    animation-name: inBunsBack;
    animation-duration: .25s;
    animation-fill-mode: forwards;
  }

  .bottomBunBack{
    animation-name: bottomBunBack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  /* X to hambuger icon classes above */

  /* hambuger icon to X classes below */
  .topBunToX{
    animation-name: topBunToX;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-fill-mode: both;
  }
  .inBunsToX{
    animation-name: inBunsToX;
    animation-duration: .25s;
    animation-fill-mode: forwards;
  }
  .bottomBunToX{
    animation-name: bottomBunToX;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
/* hambuger icon to X classes above */

  /* hambuger icon to X keyframes below */
  
  @keyframes topBunToX{
    100%{
      transform: rotate(130deg) translate(0px, -270%);
      background-color: rgba(255,255,255,1); 
    }
  }
  @keyframes inBunsToX{
    100%{
      background-color: rgba(255,255,255,0);
    }
  }
  @keyframes bottomBunToX{
    100%{
      transform: rotate(-130deg) translate(0px, 270%);
      background-color: rgba(255,255,255,1);
    }
  }
  /* hambuger icon to X keyframes above */

/* X to hambuger icon keyframes below */
  @keyframes bottomBunBack{
    0%{
      transform: rotate(-130deg) translate(0px, 270%);
      background-color: rgba(255,255,255,1);
    }
    100%{
      transform: rotate(0deg) translate(0px, 0%);
      background-color: rgba(255,255,255,.441);
    }
  }
  @keyframes inBunsBack{
    0%{
      background-color: rgba(255,255,255,0);
    }
    100%{
      background-color: rgba(255,255,255,.441);
    }
  }
  @keyframes topBunBack{
    0%{
      transform: rotate(130deg) translate(0px, -270%);
      background-color: rgba(255,255,255,1);
    }
    100%{
      transform: rotate(0deg) translate(0px, 0%);
      background-color: rgba(255,255,255,.441);
    }
  }
  
  /* X to hambuger icon keyframes above */
  .header-div-popup{
    width: 100vw;
    height: 100vh;
  }
  .header-popup{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
  }
/* mobile menu css ends here */
  .nav-info-header{
    text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8), 0px -5px 20px rgba(0, 0, 0, 0.8), 5px 0px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    background-color: rgba(96, 255, 5, 0.541);
    color: white;
    font-size: 1.9rem;
    width: 255px;
    padding: .5em 1em;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    text-shadow: none;
  }
  .nav-link:focus{
    background-color: rgba(0,0,255,.5);
  }
  .nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*NAVBAR CSS ENDS HERE*/
  section li{
    margin-bottom: 2rem;
  }
  section a{
    text-decoration: none;
    border-bottom: solid rgb(0, 238, 255) 3px;
    color: rgb(0, 238, 255);
    display: inline;
  }
  .main-doc{
    margin-top: 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 2rem;
    padding: 1em;
  }
  h2{
    text-align: center;
  }
  .disclaimer{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.13em;
    text-shadow: none;
    background: rgba(0,0,0,.4);
    border-radius: .9em;
    padding: .3em;
  }
  .disclaimer a{
    color: rgb(0, 208, 255);
  }
 
  code {
    background-color: rgba(255, 255, 255, .15);
    color:lime;
    margin-bottom: 2rem;
  }
  
  .main-section{
    line-height: 1.3em;
    max-width: 1000px;
  }
  .code{
    font-size: 1.5rem;
  }
  footer{
    margin-top: 8rem;
  }
  
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    background-color: rgb(6, 97, 176);
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    padding: .5em 1.5em;
    border-radius: .5em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: center;
  }

  .nav-list{
    margin-left: -2em;
  }

  .copy-right{
    font-weight: 200;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: -5px 5px 20px rgba(0, 0, 0,1), 0px -5px 20px rgba(0, 0, 0, 1), 5px 0px 20px rgba(0, 0, 0, 1);
  }
  @media (min-width: 1024px){
    .ftr-nav-visible{
      display: none;
    }
  }
  @media (max-width: 1023px){
    .disclaimer{
      display: none;
    }
  }
  @media (min-width: 1024px){
  /*NAVBAR CSS STARTS HERE*/
  .nav-link:focus,
  .nav-link:hover {
    background-color: rgba(0,0,255,.5);
  }
  .nav-info-header{
    position: fixed;
    right: 70%; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-list{
    align-items: flex-end;
  }
  .main-doc{
    margin-left: 30%;
  }
  /*NAVBAR CSS ENDS HERE*/
    code{
      margin-left: 1rem;
      display: inline-block;
    }
    
  }
  @media (min-width: 640px){
    .code{
      font-size: 2rem;
    }
    .main-doc{
      margin-bottom: 25rem;
    }
    footer{
      display: flex;
      border-top: green solid 5px;
      flex-direction: column;
      justify-content: center;
      background: url(../../images/wood-bg.jpg);
      width: 100%;
      position: fixed;
      bottom: 0;
      height: 15rem;
    }
  }
  