html{
    font-size: 10px;
  }
  *{
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-image: url(wood-bg.webp);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 196, 0);
    font-family: monospace, sans-serif;
  }
  h1{
    font-size: 2.8rem;
    text-align: center;
    text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8), 0px -5px 20px rgba(0, 0, 0, 0.8), 5px 0px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*NAVBAR CSS STARTS HERE*/
  /* mobile menu css*/
  .mobile-menu{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 2px;
    top: 2px;
    height: 40px;
    width: 40px;
    background-color:rgba(0, 0, 0, 0.441);
    border-radius: 5px;
  }
  .mobile-menu div{
    margin: 2.5px auto 2.5px auto;
    padding: 0;
    background-color: rgba(255,255,255,.441);
    height: 10px;
    width: 30px;
    border-radius: 5px;
  }
  .mobile-menu div:nth-child(1){
    margin-top: 5px;
  }
  .mobile-menu div:nth-child(3){
    margin-bottom: 5px;
  }

  /* X to hamburger icon classes below */
  .topBunBack{
    animation-name: topBunBack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  .inBunsBack{
    animation-name: inBunsBack;
    animation-duration: .25s;
    animation-fill-mode: forwards;
  }

  .bottomBunBack{
    animation-name: bottomBunBack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  /* X to hamburger icon classes above */

  /* hamburger icon to X classes below */
  .topBunToX{
    animation-name: topBunToX;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-fill-mode: both;
  }
  .inBunsToX{
    animation-name: inBunsToX;
    animation-duration: .25s;
    animation-fill-mode: forwards;
  }
  .bottomBunToX{
    animation-name: bottomBunToX;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
/* hamburger icon to X classes above */

  /* hamburger icon to X keyframes below */
  
  @keyframes topBunToX{
    100%{
      transform: rotate(130deg) translate(0px, -270%);
      background-color: rgba(255,255,255,1); 
    }
  }
  @keyframes inBunsToX{
    100%{
      background-color: rgba(255,255,255,0);
    }
  }
  @keyframes bottomBunToX{
    100%{
      transform: rotate(-130deg) translate(0px, 270%);
      background-color: rgba(255,255,255,1);
    }
  }
  /* hamburger icon to X keyframes above */

/* X to hamburger icon keyframes below */
  @keyframes bottomBunBack{
    0%{
      transform: rotate(-130deg) translate(0px, 270%);
      background-color: rgba(255,255,255,1);
    }
    100%{
      transform: rotate(0deg) translate(0px, 0%);
      background-color: rgba(255,255,255,.441);
    }
  }
  @keyframes inBunsBack{
    0%{
      background-color: rgba(255,255,255,0);
    }
    100%{
      background-color: rgba(255,255,255,.441);
    }
  }
  @keyframes topBunBack{
    0%{
      transform: rotate(130deg) translate(0px, -270%);
      background-color: rgba(255,255,255,1);
    }
    100%{
      transform: rotate(0deg) translate(0px, 0%);
      background-color: rgba(255,255,255,.441);
    }
  }
  
  /* X to hamburger icon keyframes above */
  .header-div-popup{
    width: 100vw;
    height: 100vh;
  }
  .header-popup{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
  }
/* mobile menu css ends here */
.header-navbar-and-main-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  
  .nav-link {
    background-color: rgba(96, 255, 5, 0.541);
    color: white;
    font-size: 1.9rem;
    width: 255px;
    padding: .5em 1em;
    text-align: center;
    border-radius: 10px;
    margin-right: 4.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    text-shadow: none;
  }
  .nav-link:focus{
    background-color: rgba(0,0,255,.5);
  }
  .nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-info-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*NAVBAR CSS ENDS HERE*/
  section li{
    margin-bottom: 2rem;
  }
  section a{
    text-decoration: none;
    border-bottom: solid rgb(0, 238, 255) 3px;
    color: rgb(0, 238, 255);
    display: inline;
  }
  .main-doc{
    max-width: 600px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 2rem;
    padding: 5px;
  }
  h2{
    text-align: center;
  }
  .code-description-header{
    font-size: 1em;
    text-align: center;
    word-spacing: 1px;
  }
  .disclaimer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1.13em;
    text-shadow: none;
    background: rgba(0,0,0,.4);
    border-radius: .9em;
    padding: 0 1.2em;
  }
 
  code {
    background-color: rgba(255, 255, 255, .15);
    color:lime;
    margin-bottom: 2rem;
  }
  .code-snippet-indent{
    padding-left: 2em;
    margin-bottom: 0;
  }
  .code-line{
    display: block;
  }
  .related-code-lines{
    margin-top: .7em;
  }
  .what-is-js-code-example{
    font-size: 11px;
  }
  .script-element-code-snippet{
    position: relative;
    top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  .code-container{
    margin-bottom: -.70em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-section{
    line-height: 1.3em;
    max-width: 1000px;
  }
  .code{
    font-size: 1.5rem;
  }
  footer{
    margin-top: 2rem;
  }
  
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    background-color: rgb(6, 97, 176);
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    padding: .75em 1.5em 2em 1.5em;
    height: 2.3em;
    border-radius: .5em;
    margin-right: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
  }

  .copy-right{
    font-weight: 200;
    font-size: 2.2rem;
    text-align: center;
    text-shadow: -5px 5px 20px rgba(0, 0, 0,1), 0px -5px 20px rgba(0, 0, 0, 1), 5px 0px 20px rgba(0, 0, 0, 1);
  }

  @media (min-width: 425px){
    .what-is-js-code-example{
      font-size: 1.8rem;
    }
  }
  @media (min-width: 640px){
    .what-is-js-code-example{
      font-size: 2.1rem;
    }
    .code{
      font-size: 2rem;
    }
    .ftr-nav-link{
      margin-right: 2rem;
    }
  }
  
  @media (min-width: 1024px){
  /*NAVBAR CSS STARTS HERE*/
  .nav-link:focus,
  .nav-link:hover {
    background-color: rgba(0,0,255,.5);
  }
  .nav-info-header{
    position: fixed;
    margin-right: 75rem;
  }
  .main-doc{
    margin-left: 25rem;
    margin-right: 0;
  }
  /*NAVBAR CSS ENDS HERE*/
    code{
      margin-left: 1rem;
      display: inline-block;
    }
    .header-navbar-and-main-container{
      max-width: 1024px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
  @media (min-width: 1440px){
    footer{
      margin-top: 4vh;
    }
  }

  @media (min-width: 1586px){
    footer{
      margin-top: 12vh;
    }
  }

  @media (min-width: 1714px){
    footer{
      margin-top: 16vh;
    }
  }