body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(black-jack-images/casino-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    height: 100%;
}
h1{
    color: goldenrod;
}
#message{
    font-style: italic;
    max-width: 292px;
}
button{
    font-size: 1.5rem;
    background: goldenrod;
    padding: .3em 1em;
    border: none;
    border-radius: 1em;
    color: green;
    cursor: pointer;
}
button:first-of-type{
    margin-bottom: .8rem;
}
main{
    background: rgba(0,0,0,.25);
    padding: 2em;
    padding-top: .5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer below */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    background-color: rgb(240, 213, 144);
    color: rgb(90, 129, 235);
    font-size: 2rem;
    padding: .5em .7em;
    border-radius: 2em;
  }
  .copy-right{
    color: white;
    font-size: 1.4rem;
    text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7), 0px -5px 20px rgba(0, 0, 0, 0.7), 5px 0px 20px rgba(0, 0, 0, 0.7);
  }
  /*footer above*/