body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(2,185,255,.7) 0%, rgba(238,11,11,.7) 35%, rgba(24,4,250,.7) 69%, rgba(0,14,135,.7) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffff00;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #title {
    text-align: center;
  }
  
  img{
    width: 290px;
    display: block;
    margin: auto;   
  }
  #img-caption {
    text-align: center;
  }
  .tribute-info {
    text-indent: 1.5rem;
    line-height: 1.2rem;
    letter-spacing: .08rem;
    max-width: 1000px; 
  }
  h2{
    text-align: center;
  }
  section {
    border: 1px solid rgba(0,0,0,0);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
table,
td,
th,
tr{
  border-collapse: collapse;
  padding: 5px;
  border: 1px solid #ffff00;
}
td{
  text-align: center;
}

.wiki-link{
  margin-top: 3rem;
  color: rgb(0, 0, 0);
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
}
.ftr-nav-link{
  text-decoration: none;
  text-align: center;
  background-color: rgb(109, 255, 104);
  color: rgb(0, 68, 255);
  font-size: 1.5rem;
  padding: .5em .7em;
  border-radius: 2em;
}
.copy-right{
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.575), 0px -5px 20px rgba(0, 0, 0, 0.575), 5px 0px 20px rgba(0, 0, 0, 0.575);
  font-size: 1.7rem;
}
@media(min-width: 360px){
  .first-song{
    font-size: 1.1rem;
  }
}
  @media (min-width: 890px){
    section{
      width: 60%;
    }
  }
  