html{
    font-size: 10px;
  }
  body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(90deg, rgba(166,207,112,0.9154849439775911) 0%, rgba(246,222,122,0.8818714985994398) 53%, rgba(255,22,0,0.6157650560224089) 100%);
    font-size: 2.5rem;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .message{
      display: none;
  }
  form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  h1{
    margin-bottom: 0;
    letter-spacing: .1em;
    text-align: center;
  }
  .description{
    border-bottom: 5px rgba(0,0,0,.5) solid;
    padding: 1rem;
    width: 285px;
    margin-bottom: 1rem;
  }
  
  
  
  #number,
  #name,
  #email{
    max-width: 90%;
    font-size: 2rem;
    border-radius: 15px;
    padding: .5rem;
    border: none;
  }
  #number{
    min-width: 135px;
  }
  #dropdown {
    font-size: 2.5rem;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    border:rgba(0, 0, 0, .5) solid 1px;
  }
legend{
  text-align: center;
}
  #comment {
    font-size: 2rem;
    width: 90%;
    padding: 1rem;
    border-radius: 2rem;
  }
  .comment{
    margin-top: -1rem;
  }
  .comment-label{
    padding-bottom: 2rem;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #submit {
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,1);
    font-size: 2rem;
    border-radius: 20px;
    padding: .5rem 1rem;
  }
  .basic-info{
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
  }
  .opinion-of-survey,
  .upgrades,
  .device{
    margin: auto;
    max-width: 520px;
  }
  .device{
    margin-top: 1.8rem;
  }
  input,
  .input,
  select{
    margin-left: auto;
    margin-right: auto;
  }
  .form-control{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  #tablet,
  #phone,
  #desktop,
  #laptop{
    width: auto;
  }
/* footer below */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin-top: 3rem;
}
.ftr-nav-link{
  text-decoration: none;
  text-align: center;
  background-color: rgba(9, 255, 0, 0.5);
  color: rgb(0, 68, 255);
  font-size: 2.5rem;
  padding: .5em .7em;
  border-radius: 2em;
}
.linkToBottom{
  position: absolute;
  bottom: 1.8rem;
  margin: 0 auto;
}
.copy-right{
  color: white;
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7), 0px -5px 20px rgba(0, 0, 0, 0.7), 5px 0px 20px rgba(0, 0, 0, 0.7);
}
/*footer above*/
.center-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label{
  margin-left: auto;
  margin-right: auto;
}
label{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
textarea{
  min-width: 200px;
  max-width: 400px;
  min-height: 150px;
  max-height: 200px;
}
.submit{
  padding: .5em .5em;
  margin-top: .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .2em;
  border: none;
  background-color: rgba(255,255,255,.5);
  min-width: 290px;
  max-width: 600px;
  cursor: pointer;
  font-size: 4rem;
}
  @media (min-width: 700px){
  #number,
  #name,
  #email{
    width: 45%;
    font-size: 3rem;
  }
  }
  