*{
  box-sizing: border-box;
}
html{
    font-size: 10px;
  }
body{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .2rem;
  background-image: url("../images/pxfuel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* NAVBAR CSS STARTS HERE */
/* mobile menu css*/
.mobile-menu{
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  left: 2px;
  top: 2px;
  height: 40px;
  width: 40px;
  background-color:rgba(0, 0, 0, 0.441);
  border-radius: 5px;
}
.mobile-menu div{
  margin: 2.5px auto 2.5px auto;
  padding: 0;
  background-color: rgba(255,255,255,.441);
  height: 10px;
  width: 30px;
  border-radius: 5px;
}
.mobile-menu div:nth-child(1){
  margin-top: 5px;
}
.mobile-menu div:nth-child(3){
  margin-bottom: 5px;
}

/* X to hambuger icon classes below */
.topBunBack{
  animation-name: topBunBack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.inBunsBack{
  animation-name: inBunsBack;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.bottomBunBack{
  animation-name: bottomBunBack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

/* X to hambuger icon classes above */

/* hambuger icon to X classes below */
.topBunToX{
  animation-name: topBunToX;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-fill-mode: both;
}
.inBunsToX{
  animation-name: inBunsToX;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
.bottomBunToX{
  animation-name: bottomBunToX;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
/* hambuger icon to X classes above */

/* hambuger icon to X keyframes below */

@keyframes topBunToX{
  100%{
    transform: rotate(130deg) translate(0px, -270%);
    background-color: black; 
  }
}
@keyframes inBunsToX{
  100%{
    background-color: rgba(0,0,0,0);
  }
}
@keyframes bottomBunToX{
  100%{
    transform: rotate(-130deg) translate(0px, 270%);
    background-color: black;
  }
}
/* hambuger icon to X keyframes above */

/* X to hambuger icon keyframes below */
@keyframes bottomBunBack{
  0%{
    transform: rotate(-130deg) translate(0px, 270%);
    background-color: black;
  }
  100%{
    transform: rotate(0deg) translate(0px, 0%);
    background-color: rgba(255,255,255,.441);
  }
}
@keyframes inBunsBack{
  0%{
    background-color: rgba(0,0,0,0);
  }
  100%{
    background-color: rgba(255,255,255,.441);
  }
}
@keyframes topBunBack{
  0%{
    transform: rotate(130deg) translate(0px, -270%);
    background-color: rgba(0,0,0,1);
  }
  100%{
    transform: rotate(0deg) translate(0px, 0%);
    background-color: rgba(255,255,255,.441);
  }
}

/* X to hamburger icon keyframes above */
.header-div-popup{
  width: 100vw;
  height: 100vh;
}
.header-popup{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/pxfuel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* mobile menu css ends here */
.topnav{
  font-size: 3.4rem;
}
.nav-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -3rem;
}
.nav-link{
  text-decoration: none;
  color: white;
  letter-spacing: .1em;
  background-color: rgba(96, 255, 5, 0.541);
  padding: .8rem 3rem;
  border-radius: 18px;
  cursor: pointer;
}
.nav-link:focus{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}
.nav-list li{
  margin-bottom: 1em;
  text-transform: uppercase;
}

/* NAVBAR CSS ENDS HERE */
#welcome-section{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: .05em;
  color: rgb(252, 220, 39);
  background: none;
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.90), 0px -5px 20px rgba(0, 0, 0, 0.90), 5px 0px 20px rgba(0, 0, 0, 0.90);
  padding: .01em .5em;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4rem;
}

p{
  font-size: 2.4rem;
}
h2{
  font-size: 2.1rem;
  text-align: center;
}
.projects-title{
  font-size: 3rem;
  letter-spacing: .6rem;
  color: rgb(252, 220, 39);
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.90), 0px -5px 20px rgba(0, 0, 0, 0.90), 5px 0px 20px rgba(0, 0, 0, 0.90);
}

h4{
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5em;
}
.last-welcome-h4{
  background: rgba(0,0,0,.2);
  border-radius: .5em;
  padding: .2em;
  cursor: pointer;
  text-shadow: none;
}
.last-welcome-h4:focus{
  background: rgba(0,0,0,.5);
}
.education{
  display: block;
}
.projects{
  display: grid;
  gap: 2rem 2rem;
  grid-template-columns: 290px;
}
.tubularanimator{
  display: none;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  border-radius: 1em;
  padding-bottom: 2em;
}
.project-link{
  text-decoration: none;
}

.project-title{
  font-size: 2.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin: .2rem auto;
}
.project-image{
  width: 250px;
  height: 160px;
  object-fit: cover;
}
.hbgw {
  width: 300px;
}
.languages{
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-bottom: -2rem;
  margin-top: .2rem;
}
.lang-intro{
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  border-bottom: 2px white solid;
  margin-bottom: -.2rem;
  margin-top: 0;
}
.dice-game{
  width: 200px;
}
.accent-text{
  font-size: 1em;
  font-weight: 900;
  display: block;
}
.feswe{
  letter-spacing: .1em;
}
.profile-links{
  display: grid;
  gap: .5rem .5rem;
  grid-template-columns: 150px 150px;
}
.invisible{
  display: none;
}
.contact-container{
  letter-spacing: .05em;
  color: rgb(252, 220, 39);
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.90), 0px -5px 20px rgba(0, 0, 0, 0.90), 5px 0px 20px rgba(0, 0, 0, 0.90);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-description{
  font-size: 3rem;
  text-shadow: -5px 5px 11px rgba(0, 0, 0, 1), 0px -5px 11px rgba(0, 0, 0, 1), 5px 0px 11px rgba(0, 0, 0, 1);
  text-align: center;
  max-width: 450px;
  padding: 1em;
}
.contact-list{
  font-size: 2rem;
}
.profile-link{
  width: 150px;
}
.twitter{
  border-radius: 2rem;
  width: 150px;
}
.edabit{
  border-radius: 1rem;
  height: 150px;
}
.linkedin{
  box-shadow: 1px 3px 25px -5px #000000;
  padding: .25rem;
  border-radius: .5rem;
}
.github-link{
  box-shadow: 1px 3px 25px -5px #000000;
  padding: .25rem;
  border-radius: .5rem;
}
.github-img{
  padding-top: 1rem;
}
.youtube-link{
  box-shadow: 1px 3px 25px -5px #000000;
  padding: .25rem;
  border-radius: .5rem;
}
.youtube-img{
  position: relative;
  top: 35px;
  width: 140px;
  display: flex;
  justify-content: center;
}

footer{
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10rem;
}
.ftr-nav-link{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.492);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: .5em 1.1em;
  cursor: pointer;
  border: none;
  border-radius: .5em;
}

.copy-right{
  color: black;
  margin-top: 2rem;
  font-size: 2.2rem;
}


@media (min-width: 700px){
  /*NAVBAR CSS STARTS HERE*/
.nav-list{
  margin-top: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-link{
  padding: .8rem 2.7rem;
  margin-right: .5em; 
}
.nav-link:focus{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
  }
  
/*NAVBAR CSS ENDS HERE*/
  .welcome-text{
  text-align: center;
} 
  .proj-info{
    font-size: 3rem;
    text-align: center;
  }
  .projects{
    grid-template-columns: repeat(2, 300px);
    grid-gap: 2rem;
    justify-content: center;
}
}
@media (min-width: 1024px){
  .nav-link:hover{
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
  }
  .last-welcome-h4:hover{
    background-color: rgba(0, 0, 0, .5);
  }
}
@media (max-width: 1020px){
  .surf-game{
    display: none;
  }
}