*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
html{
    font-size: 10px;
  }
body{
  color: rgb(252, 220, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .2rem;
  background-image: url("../images/small-mobile-screen-pxfuel-abstract-bg.webp");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* NAVBAR CSS STARTS HERE */
/* mobile menu css*/
.mobile-menu{
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  left: 2px;
  top: 2px;
  height: 40px;
  width: 40px;
  background-color:rgba(0, 0, 0, 0.441);
  border-radius: 5px;
  z-index: 5;
}
.mobile-menu div{
  margin: 2.5px auto 2.5px auto;
  padding: 0;
  background-color: rgba(255,255,255,.441);
  height: 10px;
  width: 30px;
  border-radius: 5px;
}
.mobile-menu div:nth-child(1){
  margin-top: 5px;
}
.mobile-menu div:nth-child(3){
  margin-bottom: 5px;
}

/* X to hamburger icon classes below */
.topBunBack{
  animation-name: topBunBack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.inBunsBack{
  animation-name: inBunsBack;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.bottomBunBack{
  animation-name: bottomBunBack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

/* X to hamburger icon classes above */

/* hamburger icon to X classes below */
.topBunToX{
  animation-name: topBunToX;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-fill-mode: both;
}
.inBunsToX{
  animation-name: inBunsToX;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
.bottomBunToX{
  animation-name: bottomBunToX;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
/* hamburger icon to X classes above */

/* hamburger icon to X keyframes below */

@keyframes topBunToX{
  100%{
    transform: rotate(130deg) translate(0px, -270%);
    background-color: black; 
  }
}
@keyframes inBunsToX{
  100%{
    background-color: rgba(0,0,0,0);
  }
}
@keyframes bottomBunToX{
  100%{
    transform: rotate(-130deg) translate(0px, 270%);
    background-color: black;
  }
}
/* hamburger icon to X keyframes above */

/* X to hamburger icon keyframes below */
@keyframes bottomBunBack{
  0%{
    transform: rotate(-130deg) translate(0px, 270%);
    background-color: black;
  }
  100%{
    transform: rotate(0deg) translate(0px, 0%);
    background-color: rgba(255,255,255,.441);
  }
}
@keyframes inBunsBack{
  0%{
    background-color: rgba(0,0,0,0);
  }
  100%{
    background-color: rgba(255,255,255,.441);
  }
}
@keyframes topBunBack{
  0%{
    transform: rotate(130deg) translate(0px, -270%);
    background-color: rgba(0,0,0,1);
  }
  100%{
    transform: rotate(0deg) translate(0px, 0%);
    background-color: rgba(255,255,255,.441);
  }
}

/* X to hamburger icon keyframes above */
.header-div-popup{
  width: 100vw;
  height: 100vh;
}
.header-popup{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/small-mobile-screen-pxfuel-abstract-bg.webp");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* mobile menu css ends here */
.topnav{
  font-size: 3.4rem;
}
.nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left: 0;
  padding-left: 0;
}
.nav-link{
  font-size: 3.4rem;
  border: none;
  color: rgb(47, 255, 0);
  letter-spacing: .1em;
  background-color: rgba(8, 0, 255, 0.464);
  padding: .8rem 3rem;
  width: 290px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.nav-link:focus{
  color: rgb(8, 0, 255);
  background-color: rgb(67, 255, 70);
}

/* NAVBAR CSS ENDS HERE */
.welcome-section{
  color: rgb(252, 220, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: .05em;
  background: none;
  text-shadow: 0 0 3px rgba(0,0,0,1),0 0 3px rgba(0,0,0,1);
  padding: .01em .5em;
  border-radius: 20px;
}

p{
  font-size: 2.4rem;
}
h1{
  font-size: 4.6rem;
  margin-bottom: -.6em;
}

.intro{
  position: relative;
  bottom: 10px;
}
.intro-part{
  font-weight: 600;
  display: block;
}
.intro-block{
  display: block;
}

.intro-part-1{
  margin-top: 0;
  font-size: 2.65rem;
  font-weight: 900;
}
.intro-part-2{
  font-size: 2.43rem;
  font-weight: 900;
}

h2{
  font-size: 2.1rem;
  text-align: center;
}
.pro-role{
  margin: 7px 0;
  font-size: 2.8rem;
  letter-spacing: .1em;
  line-height: 5.7rem;
  font-weight: 900;
  display: block;
}
.pro-role-1{
  font-size: 5.25rem;
  margin-top: -.5rem;
}
.pro-role-2{
  margin-top: -1rem;
  font-size: 5.7rem;
}
.pro-role-3{
  margin-top: -1rem;
  font-size: 3.2rem;
}
.intro-part-3{
  font-size: 3.6rem;
  font-weight: 900;
}
.intro-part-4{
  margin-top: -.5rem;
  font-size: 4rem;
  font-weight: 900;
}
.intro-part-5{
  font-size: 5.05rem;
  font-weight: 900;
}
.intro-part-4,
.intro-part-5{
  line-height: 5rem;
}
.welcome-btn{
  color: rgb(252, 220, 39);
  background: rgba(0,0,0,.5);
  border-radius: .5em;
  padding: .2em .2em;
  cursor: pointer;
  text-shadow: none;
  font-weight: 300;
  margin: -2.5rem auto 1rem auto;
  font-size: 1.61em;
  border: none;
}
.welcome-btn:focus{
  background: rgba(0,0,0,.6);
}
.projects-title{
  color: rgb(252, 220, 39);
  font-size: 4rem;
  letter-spacing: .6rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 1);
}

.projects{
  color: white;
  display: grid;
  gap: 2rem 2rem;
  grid-template-columns: 290px;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  border-radius: 1em;
  padding-bottom: 2em;
}
.project-link{
  text-decoration: none;
}

.project-title{
  font-size: 2.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin: .2rem auto;
}
.project-image{
  width: 250px;
  height: 160px;
  object-fit: cover;
}
.languages{
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-bottom: -2rem;
  margin-top: .2rem;
}
.lang-intro{
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  border-bottom: 2px white solid;
  margin-bottom: -.2rem;
  margin-top: 0;
}
.dice-game{
  width: 200px;
}

.profile-links{
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: .5rem .5rem;
  grid-template-columns: 150px 150px;
}
.invisible{
  display: none;
}
.contact-description{
  letter-spacing: .02em;
  font-size: 2.5rem;
  color: rgb(252, 220, 39);
  text-shadow: 0 0 3px black, 0 0 3px black;
  text-align: center;
  max-width: 340px;
  padding: 1em;
  font-weight: 900;
}
.email{
  color: rgb(252, 220, 39);
  display: block;
  font-size: 3rem;
  font-weight: 600;
}
.connect-title{
  color: rgb(252, 220, 39);
  text-shadow: 0 0 3px rgba(0,0,0,1),0 0 3px rgba(0,0,0,1);
  font-size: 4rem;
  font-weight: 900;
  margin: 2.5rem 0 -5rem 0;
}
.profile-link{
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 8px 0px #000000;
}

.facebook{
  width: 136.29px;
  height: 115.5px;
}
.facebook-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.edabit{
  width: 150px;
  height: 150px;
  height: 150px;
}
.linkedin{
  width: 150px;
  height: 150px;
  padding: .25rem;
  border-radius: .5rem;
}
.github-link{
  padding: .25rem;
  border-radius: .5rem;
}
.github-img{
  width: 150px;
  padding-top: 3.4rem;
  padding-right: .5rem;
}
.instagram{
 padding-left: 4px;
}
.youtube-link{
  padding: .25rem;
  border-radius: .5rem;
}
.youtube-img{
  width: 140px;
  height: 60px;
  left: 4px;
  top: 31px;
  position: relative;
  display: block;
  text-align: center;
}

footer{
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.back-to-top-btn{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.492);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: .5em 1.1em;
  cursor: pointer;
  border: none;
  border-radius: .5em;
}
.copy-right{
  color: black;
  margin-top: 2rem;
  font-size: 2.2rem;
}
@media (min-width: 580px){
  body{
    background-image: url("../images/larger-mobile-screen-pxfuel-abstract-bg.webp");
  }
  .header-popup{
    background-image: url("../images/larger-mobile-screen-pxfuel-abstract-bg.webp");
  }
}
@media (min-width: 700px){
  .proj-info{
    font-size: 3rem;
  }
  .projects{
    grid-template-columns: repeat(2, 300px);
    grid-gap: 2rem;
    justify-content: center;
}
}

 @media (min-width: 1024px){
  body{
    background-image: url("../images/pxfuel.webp");
    background-size: cover;
  }
  .header-popup{
    background-image: url("../images/pxfuel.webp");
    background-size: cover;
  }
  .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-link{
    margin-right: 1rem;
  }
  .nav-link:hover{
    color: rgb(8, 0, 255);
    background-color: rgb(67, 255, 70);
  }
  .welcome-btn:hover{
    background-color: rgba(0, 0, 0, .6);
  }
  footer{
    margin-top: 17rem;
  }
}