*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
html{
    display: block;
    font-size: 10px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
body{
  overflow-x: hidden;
  color: rgb(252, 220, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/small-mobile-screen-pxfuel-abstract-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
}
/* NAVBAR CSS STARTS HERE */

/* mobile menu css */
.mobile-menu{
  position: fixed;
  left: 2px;
  top: 2px;
  display: none;
  flex-direction: column;/* display flex given in JS */
  align-items: center;
  height: 40px;
  width: 40px;
  background-color:rgba(0, 0, 0, 0.441);
  border-radius: 5px;
  z-index: 5;
}
.mobile-menu div{
  margin: 2.5px auto 2.5px auto;
  padding: 0;
  background-color: rgba(255,255,255,.441);
  height: 10px;
  width: 30px;
  border-radius: 5px;
}
.mobile-menu div:nth-child(1){
  margin-top: 5px;
}
.mobile-menu div:nth-child(3){
  margin-bottom: 5px;
}

/* X to hamburger icon classes below */
.topBunBack{
  animation-name: topBunBack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.inBunsBack{
  animation-name: inBunsBack;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.bottomBunBack{
  animation-name: bottomBunBack;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

/* X to hamburger icon classes above */

/* hamburger icon to X classes below */
.topBunToX{
  animation-name: topBunToX;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-fill-mode: both;
}
.inBunsToX{
  animation-name: inBunsToX;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
.bottomBunToX{
  animation-name: bottomBunToX;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
/* hamburger icon to X classes above */

/* hamburger icon to X keyframes below */

@keyframes topBunToX{
  100%{
    transform: rotate(130deg) translate(0px, -270%);
    background-color: black; 
  }
}
@keyframes inBunsToX{
  100%{
    background-color: rgba(0,0,0,0);
  }
}
@keyframes bottomBunToX{
  100%{
    transform: rotate(-130deg) translate(0px, 270%);
    background-color: black;
  }
}
/* hamburger icon to X keyframes above */

/* X to hamburger icon keyframes below */
@keyframes bottomBunBack{
  0%{
    transform: rotate(-130deg) translate(0px, 270%);
    background-color: black;
  }
  100%{
    transform: rotate(0deg) translate(0px, 0%);
    background-color: rgba(255,255,255,.441);
  }
}
@keyframes inBunsBack{
  0%{
    background-color: rgba(0,0,0,0);
  }
  100%{
    background-color: rgba(255,255,255,.441);
  }
}
@keyframes topBunBack{
  0%{
    transform: rotate(130deg) translate(0px, -270%);
    background-color: rgba(0,0,0,1);
  }
  100%{
    transform: rotate(0deg) translate(0px, 0%);
    background-color: rgba(255,255,255,.441);
  }
}

/* X to hamburger icon keyframes above */

.header-div-popup{
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.header-popup{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/small-mobile-screen-pxfuel-abstract-bg.webp");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
/* mobile menu css ends here */

.topnav{
  font-size: 3.4rem;
}
.nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.nav-link{
  font-size: 3.4rem;
  border: none;
  color: rgb(47, 255, 0);
  letter-spacing: .1em;
  background-color: rgba(8, 0, 255, 0.464);
  padding: .8rem 3rem;
  width: 290px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
.nav-link:focus{
  color: rgb(8, 0, 255);
  background-color: rgb(67, 255, 70);
}

/* NAVBAR CSS ENDS HERE */

/* welcome-section below */

.welcome-section{
  color: rgb(252, 220, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: .05em;
  background: none;
  text-shadow: 0 0 3px rgba(0,0,0,1),0 0 3px rgba(0,0,0,1);
  padding: .01em .5em .01em .5em;
  border-radius: 20px;
  width: 100vw;
}

p{
  font-size: 2.4rem;
}
h1{
  font-size: 1.6em;
  letter-spacing: .075em;
  margin-top: -1rem;
  margin-bottom: -.1em;
  padding-top: 3.8rem;
}
.h1-exclamation{
  display: relative;
  left: .09em;
}
.intro{
  position: relative;
  bottom: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro-part{
  font-weight: 600;
  display: block;
}
.intro-block{
  display: block;
}
.intro-block-smaller-dot{
  font-size: .5em;
  position: relative;
  right: .2em;
  padding: 0;
}
.intro-part-1{
  margin-top: 0;
  font-size: 2.65rem;
  font-weight: 900;
}
.intro-part-1-dot{
  font-size: .7em;
  position: relative;
  left: .025em;
  padding: 0;
}
.intro-part-2{
  font-size: 2.43rem;
  font-weight: 900;
}

h2{
  font-size: 2.1rem;
  text-align: center;
}
.pro-role{
  margin: 7px 0;
  font-size: 2.8rem;
  letter-spacing: .1em;
  line-height: 5.7rem;
  font-weight: 900;
  display: block;
}
.pro-role-1{
  font-size: 5.24rem;
  margin-top: -.5rem;
}
.pro-role-2{
  margin-top: -1rem;
  font-size: 5.7rem;
}
.intro-part-3{
  margin-top: -1.69rem;
  margin-bottom: -1rem;
  font-size: 1.7em;
  font-weight: 900;
}
.intro-part-3-smaller-dot{
  font-size: .7em;
  position: relative;
  left: .05em;
  padding: 0;
}
.welcome-btn{
  color: rgb(252, 220, 39);
  background: rgba(0,0,0,.5);
  border-radius: .5em;
  padding: .2em .2em;
  cursor: pointer;
  text-shadow: none;
  font-weight: 300;
  margin: -2.5rem auto 1rem auto;
  font-size: 1.61em;
  border: none;
}
.welcome-btn:focus{
  background: rgba(0,0,0,.6);
}

/* welcome-section above */

/* projects-section below */

.projects-title{
  margin-left: .3rem;
  text-align: center;
  color: rgb(252, 220, 39);
  font-size: 4rem;
  letter-spacing: .6rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 1);
  padding-top: 3.8rem;
  margin-top: -1.5rem;
}

.projects{
  color: white;
  display: grid;
  gap: 2rem 2rem;
  grid-template-columns: 290px;
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  border-radius: 1em;
  padding-bottom: 2em;
}
.project-link{
  text-decoration: none;
}

.project-title{
  font-size: 2.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin: .2rem auto;
}
.project-image{
  width: 250px;
  height: 160px;
  object-fit: cover;
}
.languages{
  font-weight: 300;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-bottom: -2rem;
  margin-top: .2rem;
}
.lang-intro{
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  border-bottom: 2px white solid;
  margin-bottom: -.2rem;
  margin-top: 0;
}
.dice-game{
  width: 200px;
}


/* projects-section above */

.invisible{
  display: none;
}

/* contact-section below */

.contact-description{
  letter-spacing: .02em;
  font-size: 2.5rem;
  color: rgb(252, 220, 39);
  text-shadow: 0 0 3px black, 0 0 3px black;
  text-align: center;
  max-width: 340px;
  padding: 1em;
  font-weight: 900;
}

.email{
  color:rgb(255, 243, 132);
  display: block;
  margin-left: -.38em;
  font-size: 2.5rem;
  font-weight: 900;
}
.email-and-follow{
  color:rgb(255, 243, 132);
}
.connect-title{
  color: rgb(252, 220, 39);
  text-shadow: 0 0 3px rgba(0,0,0,1),0 0 3px rgba(0,0,0,1);
  font-size: 4rem;
  font-weight: 900;
  margin: -1.5rem 0 -5rem 0;
  letter-spacing: .25rem;
  padding-top: 3.8rem;
}
.profile-link{
  text-decoration: none;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  box-shadow: 0px 0px 8px 0px #000000;
}
.profile-link-img{
  width: 130px;
}
.profile-links{
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1.65rem .5rem;
  grid-template-columns: 150px 150px;
  margin-left: .9rem;
}
.edabit-profile-link{
  background: rgba(0,190,0,.5);
}
.edabit-img-text-replacement{
  margin-top: 1rem;
  color: white;
  text-align: center;
}
.edabit-text{
  font-size: 4.5rem;
  display: block;
  margin-bottom: -1.5rem;
}
.edabit-description{
  font-size: 1.5rem;
}
.linkedin-img{
  width: 140px;
  padding: .25rem;
}
.linkedin-link{
  background-color: rgba(255,255,255,.7);
}
.github-link{
  padding: .25rem;
}
.github-img,
.free-code-camp-img{
  width: 125px;
}
.freeCodeCamp-profile-link{
  background-color: rgb(47, 48, 113,.65);
}
.twitter-img{
  width: 140px;
  margin-top:1px;
}
.youtube-img{
  width: 130px;
}
/* contact-section above */

/* footer below */

footer{
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.footer-email{
  color: rgb(166, 221, 244);
}
.back-to-top-btn{
  margin-left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.492);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: .5em 1.1em;
  cursor: pointer;
  border: none;
  border-radius: .5em;
}
.copy-right{
  text-shadow: white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem;
  color: black;
  margin-top: 2rem;
  font-size: 2.2rem;
}
.Holy-Link{
  text-shadow: white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem, white 0 0 1rem;
}
.statement{
  color: white;
  text-shadow: black 0 0 2rem, black 0 0 2rem, black 0 0 2rem, black 0 0 2rem, black 0 0 2rem, black 0 0 2rem, black 0 0 2rem, black 0 0 2rem;
}
/* footer above */

/* media query below */

@media (min-width: 356px){
  .profile-links{
    margin-top: -3rem;
  }
}
@media (min-width: 580px){
  body{
    background-image: url("../images/larger-mobile-screen-pxfuel-abstract-bg.webp");
  }
  .header-popup{
    background-image: url("../images/larger-mobile-screen-pxfuel-abstract-bg.webp");
  }
  
}
@media (min-width: 700px){
  .proj-info{
    font-size: 3rem;
  }
  .projects{
    grid-template-columns: repeat(2, 300px);
    grid-gap: 2rem;
    justify-content: center;
}
}

 @media (min-width: 1024px){
  .welcome-section{
    margin: 0;
  }
  body{
    background-image: url("../images/pxfuel.webp");
  }
  .header-popup{
    background-image: url("../images/pxfuel.webp");
    background-size: cover;
  }
  .nav-list{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link{
    margin-right: 1rem;
  }
  .nav-link:nth-child(3){
    margin-right: 0;
  }
  .nav-link:hover{
    color: rgb(8, 0, 255);
    background-color: rgb(67, 255, 70);
  }
  .welcome-btn:hover{
    background-color: rgba(0, 0, 0, .6);
  }
  .projects-title{
    margin-left: .7rem;
  }
  footer{
    margin-top: 12.5rem;
  }
}

/* media query above */