html{
    font-size: 10px;
}
body{
    background-color: rgba(204, 157, 95, 0.568);
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
  font-size: 2.2rem;
  font-weight: 300;
}
h2{
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: .13em;
  font-weight: 400;
}
.info{
  width: 95%;
  margin-bottom: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.container{
    background-color: rgb(209, 128, 128);
    box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 20px;
    padding: 1rem;
}

label{
  font-size: 1.5rem;
  line-height: 3rem;
}
p,
#work-hours,
#submit,
#wage-input,
#mle-input,
#wwd{
    font-size: 2rem;
    border-radius: 20px;
    border: 0;
    margin-bottom: 10px;
    padding: 7px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

p{
    display: none;
    background-color: rgba(255,255,255,.4)
}
#mle-input{
    width: 90%;
    
}

#submit{
    background-color: rgb(0,255,0);
    font-size: 5rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    width: 90%;
}
/* footer below */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin-top: 2em;
}
.ftr-nav-link{
  text-decoration: none;
  text-align: center;
  font-size: 2.7rem;
  background-color: rgba(9, 255, 0, 0.5);
  color: rgb(0, 68, 255);
  padding: .5em .7em;
  border-radius: 2em;
  box-shadow: 1px 2px 15px 5px rgba(0,0,0,0.63);
}
.copy-right{
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.97), 0px -5px 20px rgba(0, 0, 0, 0.97), 5px 0px 20px rgba(0, 0, 0, 0.97);
  color: rgb(255, 205, 164);
  font-size: 2.5rem;
  margin-top: 2em;
}
/*footer above*/
input{
  font-family: 'Nunito', sans-serif;
}
@media (min-width: 375px){
  h2{
    font-size: 1.9rem;
    line-height: 1.5em;
    letter-spacing: .13em;
    font-weight: 400;
  }
  p,
  #work-hours,
  #wage-input,
  #wwd{
      font-size: 2.5rem;
  }
  label{
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .container{
    width: 90%;
  }
  #mle-input{
    font-size: 2rem;   
}
}
@media (min-width: 397px){
  h2{
    font-size: 2rem;
    line-height: 1.5em;
    letter-spacing: .13em;
    font-weight: 400;
  }
  p,
  #work-hours,
  #wage-input,
  #wwd{
      font-size: 3rem;
  }
  label{
    font-size: 1.8rem;
  }
  #mle-input{
    font-size: 2.5rem;   
}
}
@media(min-width: 425px){

  p,
  #work-hours,
  #wage-input,
  #wwd{
      font-size: 3rem;
  }
  label{
    font-size: 2rem;
  }
  #mle-input{
    font-size: 2.5rem;   
}
.info{
  width: 385px;
}
.container{
  width: 388px;
}
}
@media(min-width: 1024px){
  #submit:focus,
#submit:hover{
    background-color: rgba(0,0,0,0.6);
    color: white;
}
}
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .container{
    width: 89%;
  }
  }
  