* {
  font-family: 'Nunito', sans-serif;
}

html {
  font-size: 10px;
}

body {
  background: rgba(253, 139, 0, 0.539);
  font-size: 2.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disclaimer{
  text-align: center;
  max-width: 383px;
}
.message {
  display: none;
}

#survey-form {
  margin: 0 auto;
}

h1 {
  max-width: 290px;
  margin: 0 auto;
  letter-spacing: .1em;
  text-align: center;
}

.description {
  border-bottom: 5px rgba(0, 0, 0, .5) solid;
  padding: 1rem;
  width: 285px;
  margin-bottom: 1rem;
}



#number,
#name,
#email {
  max-width: 295px;
  font-size: 2.15rem;
  border-radius: 15px;
  padding: .5rem;
  border: none;
}

#number {
  min-width: 200px;
}

#dropdown {
  border: none;
  font-size: 2.5rem;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  border: rgba(0, 0, 0, .5) solid 1px;
}

legend {
  text-align: center;
}

.basic-info {
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 265px;
}

.opinion-of-survey,
.upgrades,
.device {
  margin: auto;
  max-width: 265px;
}

.opinion-of-survey {
  margin-top: 2rem;
}

.upgrades {
  margin-top: -1rem;
}

.device {
  margin-top: 1.8rem;
}

input,
.input,
select {
  margin-left: auto;
  margin-right: auto;
}

#tablet,
#phone,
#desktop,
#laptop {
  width: auto;
}

label {
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.comment {
  margin: 1rem auto .5rem;
}

.comment-label {
  font-size: 2.1rem;
  padding-bottom: 2rem;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  border: none;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 2rem;
  min-width: 200px;
  max-width: 240px;
  min-height: 136px;
  max-height: 200px;
}
textarea::placeholder{
  text-align: center;
}

.submit {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  padding: .5em .5em;
  margin-top: .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .2em;
  border: none;
  background-color: rgb(0, 195, 255);
  min-width: 290px;
  max-width: 600px;
  cursor: pointer;
  font-size: 4rem;
  color: white;
}

/* footer below */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin-top: 10rem;
}

.ftr-nav-link {
  text-decoration: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: .5em 1.3em;
  border-radius: .5em;
}

.copy-right {
  color: white;
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7), 0px -5px 20px rgba(0, 0, 0, 0.7), 5px 0px 20px rgba(0, 0, 0, 0.7);
}

/*footer above*/

@media (min-width: 700px) {

  #number,
  #name,
  #email {
    max-width: 400px;
    font-size: 3rem;
  }
}