html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(122, 211, 7, 0.729);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
}
.grid div{
    width: 15px;
    height: 15px;
}
.sun{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: -400px;
    left: 150px;
    background: yellow;
    position: relative;

}
.sky{
    background-color: rgb(58, 185, 254);
}
.ocean{
    background: rgb(5, 141, 245)
}
.wave-face{
    background: rgb(0, 105, 218)
}
.barrel{
    background: rgb(0, 87, 179)
}
.white-wash{
    background: white;
}
.beach{
    background: gold;
}
.surfer{
    background: black;
}
.tubed-surfer{
    background: rgb(2, 64, 131);
}
h3{
    margin: 0;
}
h2{
    margin: 0;
}
h1{
    margin: 0;
}
.instructions{
    width: 450px;
    margin: 0;
}
h1{
    color: rgb(46, 134, 249);
}
/* footer below */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    background-color: rgba(9, 255, 0, 0.5);
    color: rgb(0, 68, 255);
    padding: .5em .7em;
    border-radius: 2em;
    box-shadow: 1px 2px 15px 5px rgba(0,0,0,0.63);
  }
  .copy-right{
    text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.97), 0px -5px 20px rgba(0, 0, 0, 0.97), 5px 0px 20px rgba(0, 0, 0, 0.97);
    color: rgb(255, 205, 164);
    font-size: 1.5rem;
    margin-top: 2em;
  }
  /*footer above*/