*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Nunito', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    text-align: center;
    font-size: 1.1rem;
}
.container{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: .8rem;
    background-color: rgba(250, 214, 114, 0.9);
}
button{
    padding: .5rem 1rem;
    border-radius: .4rem;
    background-color: aquamarine;
    font-size: 1.2rem;
    border: none;
    margin: 1.3rem 0;
    cursor: pointer;
}
button:focus,
button:active{
    animation-name: bgClrChng;
    animation-duration: 1s;
}
@keyframes bgClrChng{
    50%{
        background: rgb(59, 117, 97);
        color: white;
    }
    100%{
        background: aquamarine;
        color: black;
    }
}
@keyframes bgClrChngHvr{
    100%{
        background: rgb(45, 160, 255);
        color: white;
    }
}
.current-count{
    flex-direction: column;
    align-items: center;
    margin: .5rem auto;
}
.num{
    width: 216px;
}
.comment{
  min-width: 223px;
  max-width: 223px;
  min-height: 132px;
  max-height: 132px;
}

/* footer below */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
    margin-top: 4rem;
  }
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    font-size: 1.45rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 1em 2.5em;
    border-radius: .5em;
  }
  .copy-right{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-top: 2em;
  }
  /*footer above*/

@media (min-width: 768px){
    .container{
        margin-top: 100px;
    }
}

@media (min-width: 1024px){
    button:hover{
        animation-name: bgClrChngHvr;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}