.tubularanimator{
    width: 100%;
}
body{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}
.instructions{
    text-align: center;
}
.image{
    display: inline-block;
    width: 200px;
    border-radius: 1rem;
}
.tubularanimator-holy-art{
    width:290px; 
}
.call-to-action{
    width: 203px;
    
}
.cool-pics{
    width: 202px;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer{
    text-align: center;
}
@media(min-width: 900px){
    .tubularanimator-holy-art{
        width:800px; 
    }
}