body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(black-jack-images/casino-texture.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    height: 100%;
}
h1{
    color: goldenrod;
}
#message{
    font-size: .905rem;
    font-style: italic;
    text-align: center;
    max-width: 292px;
}
.new-card,
.card-1,
.card-2{
    display: inline-block;
}
.new-card-animation{
 animation: slide-top .5s forwards;
}

@keyframes slide-top{
    0%{
        color: rgba(255,255,255,0);
        transform: translateY(2.5rem);
    }
}
button{
    font-size: 1.4rem;
    background: rgb(118, 106, 77);
    padding: .3em 1em;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}
button:first-of-type{
    margin-bottom: .8rem;
}
.disappear{
    display: none; /* toggle 'pick new card' btn visibility */
}
main{
    background: rgba(0,0,0,.25);
    padding: 2em;
    padding-top: .5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 344.48px;
}
/* footer below */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
    margin-top: 3rem;
  }
  .ftr-nav-link{
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.57);
    color: white;
    font-size: 1.45rem;
    padding: .75em 2.5em;
    border-radius: .5em;
  }
  .copy-right{
    margin-top: 3rem;
    color: white;
    font-size: 1.4rem;
    text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.7), 0px -5px 20px rgba(0, 0, 0, 0.7), 5px 0px 20px rgba(0, 0, 0, 0.7);
  }
  /*footer above*/
  @media(min-width: 375px){
    html{
        font-size: 17px;
    }
  }