*{
  box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    background-color: rgba(204, 157, 95, 0.568);
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
  font-size: 2.5rem;
  font-weight: 600;
}

.container{
    background-color: rgba(250, 217, 117, 0.689);
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: .5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 300px;
}

label{
  margin-bottom: -1rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
label:not(:first-child){
  margin-top: -1rem;
}
input{
  font-family: 'Nunito', sans-serif;
}
p,
#work-hours,
#submit,
#wage-input,
#mle-input,
#wwd{
    font-size: 2rem;
    border-radius: 20px;
    border: 0;
    padding: 7px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    width: 285px;
}

p{
    display: none;
    background-color: rgba(255,255,255,.4)
}
.app-description{
  font-size: 1.8rem;
  background: none;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: -.2rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

#submit{
    background-color: rgb(167, 250, 167);
    font-size: 4rem;
    border-radius: .25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    width: 292.5px;
    padding: .5em 0;
}
#form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
}
/* footer below */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin-top: 7rem;
}
.ftr-nav-link{
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.594);
  color: rgb(255, 255, 255);
  padding: .8em 2.5em;
  border-radius: .5em;
}
.copy-right{
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.97), 0px -5px 20px rgba(0, 0, 0, 0.97), 5px 0px 20px rgba(0, 0, 0, 0.97);
  color: rgb(255, 205, 164);
  font-size: 2.5rem;
  margin-top: 2em;
}
/* footer above */