*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
    background-color: rgba(0,0,0,.6);
    font-family: helvetica; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*HEADER CSS STARTS HERE*/
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name-and-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h1{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #000000;
    z-index: 1;
  }  
  .header-img{
    width: 100px;
    margin-top: -4rem;
  }
  /*HEADER CSS ENDS HERE*/
  
  /* NAVBAR CSS STARTS HERE */
  /* mobile menu css*/
  .mobile-menu{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 2px;
    top: 2px;
    height: 40px;
    width: 40px;
    background-color:rgba(0, 0, 0, 0.441);
    border-radius: 5px;
  }
  .mobile-menu div{
    margin: 2.5px auto 2.5px auto;
    padding: 0;
    background-color: rgba(255,255,255,.441);
    height: 10px;
    width: 30px;
    border-radius: 5px;
  }
  .mobile-menu div:nth-child(1){
    margin-top: 5px;
  }
  .mobile-menu div:nth-child(3){
    margin-bottom: 5px;
  }

  /* X to hambuger icon classes below */
  .topBunBack{
    animation-name: topBunBack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  .inBunsBack{
    animation-name: inBunsBack;
    animation-duration: .25s;
    animation-fill-mode: forwards;
  }

  .bottomBunBack{
    animation-name: bottomBunBack;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  /* X to hambuger icon classes above */

  /* hambuger icon to X classes below */
  .topBunToX{
    animation-name: topBunToX;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-fill-mode: both;
  }
  .inBunsToX{
    animation-name: inBunsToX;
    animation-duration: .25s;
    animation-fill-mode: forwards;
  }
  .bottomBunToX{
    animation-name: bottomBunToX;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
/* hambuger icon to X classes above */

  /* hambuger icon to X keyframes below */
  
  @keyframes topBunToX{
    100%{
      transform: rotate(130deg) translate(0px, -270%);
      background-color: rgba(255,255,255,1); 
    }
  }
  @keyframes inBunsToX{
    100%{
      background-color: rgba(255,255,255,0);
    }
  }
  @keyframes bottomBunToX{
    100%{
      transform: rotate(-130deg) translate(0px, 270%);
      background-color: rgba(255,255,255,1);
    }
  }
  /* hambuger icon to X keyframes above */

/* X to hambuger icon keyframes below */
  @keyframes bottomBunBack{
    0%{
      transform: rotate(-130deg) translate(0px, 270%);
      background-color: rgba(255,255,255,1);
    }
    100%{
      transform: rotate(0deg) translate(0px, 0%);
      background-color: rgba(255,255,255,.441);
    }
  }
  @keyframes inBunsBack{
    0%{
      background-color: rgba(255,255,255,0);
    }
    100%{
      background-color: rgba(255,255,255,.441);
    }
  }
  @keyframes topBunBack{
    0%{
      transform: rotate(130deg) translate(0px, -270%);
      background-color: rgba(255,255,255,1);
    }
    100%{
      transform: rotate(0deg) translate(0px, 0%);
      background-color: rgba(255,255,255,.441);
    }
  }
  
  /* X to hambuger icon keyframes above */
  .header-div-popup{
    width: 100vw;
    height: 100vh;
  }
  .header-popup{
    z-index: 1;
    position: fixed;
    background-color: black;
  }
  
/* mobile menu css ends here */
  
  .nav-bar{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .nav-list{
    padding: 0;
  }
  
  .nav-link{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; 
    list-style: none;
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    background-color: #4de562;
    padding: .5em 2em;
    border-radius: 20px;
  }
  
  /* NAVBAR CSS ENDS HERE */
  
  
  /* BACKGROUND IMAGE CSS STARTS HERE*/
  .background-img {
      display: block;
  }
  .background-img:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url(../images/bsr-surfpool.png);
      opacity: 0.6;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: fixed;
      z-index: -1;
  }
  /* BACKGROUND IMAGE CSS ENDS HERE*/
  .close-email-form{
    cursor: pointer;
    position: relative;
    right: -122px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.35);
    border-radius: 50%;
  }
  .close-email-form div{
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -17px;
    left: 3.5px;
  }
  .close-email-form div:first-child{
    transform: rotate(130deg) translate(0px, -80%);
  }
  .close-email-form div:last-child{
    transform: rotate(-130deg) translate(0px, 80%);
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,.35);
    border-radius: 1rem;
    padding: 1rem .8rem;
    width: 295px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2rem;
  }
  form h2{
    color: #00ffff;
    text-align: center;  
  }
  #email{
    width: 255px;
    display:block;
    margin:auto;
    padding:8px;
    border-radius:50px;
    border:none;
    font-size: 1.5rem;
    outline: none;
    background-color: rgba(0, 153, 255, 0.555);
    color:yellow;
  }
  #email::placeholder{
      color: yellow;
      text-align: center;
      opacity: .7;
  }
  
  #submit{
    display:block;
    padding:.3em 1em;
    border: none;
    border-radius: 12px;
    background-color: #92e892;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    outline: none;
    cursor: pointer;
  }
  
  .about-us-section,
  .locations-section{
    display: flex;
    color: rgb(255,255,0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .08rem;
    padding: 0 .8rem;
    margin: auto;
  }
  .about-us-section p{
    margin: 0 auto;
    padding: 0 0;
    font-size: 1.2rem;
    text-indent: 1.5em;
    line-height: 1.1em;
  }
  
  .section-title{
    color: yellow;
    font-size: 2rem;
  }
  .locations-list{
    font-size: 1.6rem;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;
  }
  .pricing-section{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0);
  }
  .product-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .products{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
  
  .product{
    border-radius: 1em;
    border: 1px white solid;
    padding: 1em;
    background-color: rgba(0,0,0,.5);
  }
  
  .product-title{
    border-radius: .5em;
    padding:10px;
    background-color:#61b9f8;
    color: white;
    text-align: center;
  }
   .product-description{
    color:white;
    text-align: center;
  }
   .product-description p {
    font-size:1.2rem;
  }
  .product-submit{
    border-radius: .5em;
    background-color:#5af16e;
    border:none;
    width: 100%;
    color:white;
    text-decoration:none;
    font-size: 30px;
    padding: 15px;
    margin-bottom: 3%;
    cursor: pointer;
  }
  

  /* footer below */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
}
.ftr-nav-link{
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: .7em 2.5em;
  border-radius: .5em;
}
.ftr-nav-link:first-child{
  margin-bottom: 1.5rem;
}
.copy-right{
  text-shadow: -5px 5px 20px rgba(0, 0, 0, 0.575), 0px -5px 20px rgba(0, 0, 0, 0.575), 5px 0px 20px rgba(0, 0, 0, 0.575);
  font-size: 1.5rem;
  color: white;
}
@media (min-width: 768px){
  .about-us-section p{
    font-size: 1.4rem;
    line-height: 1.2em;
  }
}
/* footer above */
@media (min-width: 940px){
/* NAVBAR CSS STARTS HERE */
.nav-bar{
  margin-top: 1.7rem;
}
  .nav-list{
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
.nav-list li{
  display: inline;
}

.nav-link{
  font-size: 1.6rem;
  margin-right: 1rem;
}
  .nav-link:focus,
  .nav-link:hover{
    background-color: rgba(0,0,0,.6);
  }
/* NAVBAR CSS ENDS HERE */
  .about-us-section,
  .locations-section{
    width: 700px;
  }
}
  @media (min-width: 1024px){
    .about-us-section p{
      font-size: 1.75rem;
    }
    .products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
  }
  .pricing-section{
    margin-bottom: 25rem;
  }
  }